# Python数据分析之Pandas-2

**首先：读入我们上节课保存的数据文件movie_data.xlsx**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r"F:\HIT Studio\CS\Python\python训练营\3\movie_data.xlsx",index_col = 0)

In [69]:
df[:5]

       名字    投票人数        类型    产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪    美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪    美国  1957-12-17 00:00:00  116  1957  9.5      美国
2   美丽人生   327855  剧情/喜剧/爱情   意大利  1997-12-20 00:00:00  116  1997  9.5     意大利
3    阿甘正传  580897     剧情/爱情    美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
4    霸王别姬  478523  剧情/爱情/同性  中国大陆  1993-01-01 00:00:00  171  1993  9.4      香港

## 2.1 数据格式转换

在做数据分析的时候，原始数据往往会因为各种各样的原因产生各种数据格式的问题。  
数据格式是我们非常需要注意的一点，数据格式错误往往会造成很严重的后果。  
并且，很多异常值也是我们经过格式转换后才会发现，对我们规整数据，清洗数据有着重要的作用。

### 查看格式

In [3]:
df["投票人数"].dtype

dtype('int64')

In [72]:
df["投票人数"] = df["投票人数"].astype("int")

In [73]:
df[:5]

       名字    投票人数        类型    产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪    美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪    美国  1957-12-17 00:00:00  116  1957  9.5      美国
2   美丽人生   327855  剧情/喜剧/爱情   意大利  1997-12-20 00:00:00  116  1997  9.5     意大利
3    阿甘正传  580897     剧情/爱情    美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
4    霸王别姬  478523  剧情/爱情/同性  中国大陆  1993-01-01 00:00:00  171  1993  9.4      香港

In [74]:
df["产地"].dtype

dtype('O')

In [75]:
df["产地"] = df["产地"].astype("str")

### 将年份转化为整数格式

In [76]:
df["年代"] = df["年代"].astype("int")

ValueError: invalid literal for int() with base 10: '2008\u200e'

In [77]:
df[df.年代 == "2008\u200e"]

         名字  投票人数  类型    产地                 上映时间  时长     年代   评分 首映地点
15205  狂蟒惊魂   544  恐怖  中国大陆  2008-04-08 00:00:00  93  2008‎  2.7   美国

In [78]:
df[df.年代 == "2008\u200e"]["年代"].values

array(['2008\u200e'], dtype=object)

In [79]:
df.loc[[15205],"年代"] = 2008

In [80]:
df.loc[15205]

名字                     狂蟒惊魂
投票人数                    544
类型                       恐怖
产地                     中国大陆
上映时间    2008-04-08 00:00:00
时长                       93
年代                     2008
评分                      2.7
首映地点                     美国
Name: 15205, dtype: object

In [81]:
df["年代"] = df["年代"].astype("int")

In [82]:
df["年代"][:5]

0    1994
1    1957
2    1997
3    1994
4    1993
Name: 年代, dtype: int32

### 将时长转化为整数格式

In [83]:
df["时长"] = df["时长"].astype("int")

ValueError: invalid literal for int() with base 10: '8U'

In [84]:
df[df["时长"] == "8U"]

             名字  投票人数      类型  产地                 上映时间  时长    年代   评分 首映地点
31644  一个被隔绝的世界    46  纪录片/短片  瑞典  2001-10-25 00:00:00  8U  1948  7.8   美国

In [85]:
df.drop([31644], inplace = True)

In [86]:
df["时长"] = df["时长"].astype("int")

ValueError: invalid literal for int() with base 10: '12J'

In [87]:
df[df["时长"] == "12J"]

         名字  投票人数   类型  产地                 上映时间   时长    年代   评分 首映地点
32949  渔业危机    41  纪录片  英国  2009-06-19 00:00:00  12J  2008  8.2  USA

In [88]:
df.drop([32949], inplace = True)

In [89]:
df["时长"] = df["时长"].astype("int")

In [90]:
df[:5]

       名字    投票人数        类型    产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪    美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪    美国  1957-12-17 00:00:00  116  1957  9.5      美国
2   美丽人生   327855  剧情/喜剧/爱情   意大利  1997-12-20 00:00:00  116  1997  9.5     意大利
3    阿甘正传  580897     剧情/爱情    美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
4    霸王别姬  478523  剧情/爱情/同性  中国大陆  1993-01-01 00:00:00  171  1993  9.4      香港

## 2.2 排序

### 默认排序

In [91]:
df[:10]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,泰坦尼克号,157074,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,辛德勒的名单,306904,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映
7,新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai,24355,剧情/动作/科幻/动画/奇幻,日本,1997-07-19 00:00:00,87,1997,9.4,日本
8,银魂完结篇：直到永远的万事屋 劇場版 銀魂 完結篇 万事屋よ,21513,剧情/动画,日本,2013-07-06 00:00:00,110,2013,9.4,日本
9,这个杀手不太冷,662552,剧情/动作/犯罪,法国,1994-09-14 00:00:00,133,1994,9.4,法国

### 按照投票人数进行排序

In [27]:
df.sort_values(by = "投票人数", ascending = False)[:5]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
9,这个杀手不太冷,662552,剧情/动作/犯罪,法国,1994-09-14 00:00:00,133,1994,9.4,法国
22,盗梦空间,642134,剧情/动作/科幻/悬疑/冒险,美国,2010-09-01 00:00:00,148,2010,9.2,中国大陆
3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
99,三傻大闹宝莱坞,549808,剧情/喜剧/爱情/歌舞,印度,2011-12-08 00:00:00,171,2009,9.1,中国大陆

### 按照年代进行排序

In [16]:
df.sort_values(by = "年代")[:5]

            名字  投票人数           类型  产地                 上映时间  时长    年代   评分 首映地点
1700   朗德海花园场景   650           短片  英国           1888-10-14  60  1888  8.7   美国
14048     利兹大桥   126           短片  英国              1888-10  60  1888  7.2   美国
26170      恶作剧    51           短片  美国  1905-03-04 00:00:00  60  1890  4.8   美国
10627   可怜的比埃洛   176  喜剧/爱情/动画/短片  法国           1892-10-28  60  1892  7.5   法国
14455  迪克森实验音膜   121           短片  美国  1905-03-08 00:00:00  60  1894  7.2   美国

### 多个值排序，先按照评分，再按照投票人数

In [30]:
df.sort_values(by = ["评分","投票人数"], ascending = False)

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
9278,平安结祈 平安結,208,音乐,日本,2012-02-24 00:00:00,60,2012,9.9,美国
13882,武之舞,128,纪录片,中国大陆,1997-02-01 00:00:00,60,34943,9.9,美国
23559,未作回答的问题：伯恩斯坦哈佛六讲,61,纪录片,美国,1905-05-29 00:00:00,60,1973,9.9,美国
25273,索科洛夫：巴黎现场,43,音乐,法国,2002-11-04 00:00:00,127,2002,9.9,美国
11479,公园现场,163,音乐,英国,2012-12-03 00:00:00,60,2012,9.8,美国
...,...,...,...,...,...,...,...,...,...
2790,爸爸我来救你了,278,喜剧/动作/家庭/儿童/冒险,中国大陆,2016-01-22 00:00:00,90,2015,2.2,中国大陆
10219,大震撼,185,剧情,中国大陆,2011-05-19 00:00:00,60,2011,2.2,中国大陆
9045,钢管侠,168,动作,中国大陆,2015-07-28 00:00:00,60,2015,2.2,中国大陆
13137,嫁给大山的女人,2690,剧情,中国大陆,2009-04-22 00:00:00,88,2009,2.1,中国大陆
29100,都是手机惹的祸,42,喜剧,中国大陆,2013-01-18 00:00:00,60,2012,2.0,中国大陆

## 2.3 基本统计分析

（ 1 ）描述性统计

dataframe.describe()：对dataframe中的数值型数据进行描述性统计

In [31]:
df.describe()

                投票人数            时长            年代            评分
count   38167.000000  38167.000000  38167.000000  38167.000000
mean     6268.131291     89.475594   1998.805224      6.922154
std     26298.331602     83.763856    255.065394      1.263782
min        21.000000      1.000000   1888.000000      2.000000
25%       101.000000     60.000000   1990.000000      6.300000
50%       354.000000     93.000000   2005.000000      7.100000
75%      1798.500000    106.000000   2010.000000      7.800000
max    692795.000000  11500.000000  39180.000000      9.900000

### 通过描述性统计，可以发现一些异常值，很多异常值往往是需要我们逐步去发现的。

In [32]:
df[df["年代"] > 2018]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
13882,武之舞,128,纪录片,中国大陆,1997-02-01 00:00:00,60,34943,9.9,美国
17115,妈妈回来吧-中国打工村的孩子,49,纪录片,日本,2007-04-08 00:00:00,109,39180,8.9,美国

In [92]:
df[df["时长"] > 1000]

            名字  投票人数        类型  产地                 上映时间     时长    年代   评分 首映地点
19690     怒海余生    54  剧情/家庭/冒险  美国  1937-09-01 00:00:00  11500  1937  7.9   美国
38730  喧闹村的孩子们    36        家庭  瑞典  1986-12-06 00:00:00   9200  1986  8.7   瑞典

In [93]:
df.drop(df[df["年代"] > 2018].index, inplace = True)
df.drop(df[df["时长"] > 1000].index, inplace = True)

In [94]:
df.index = range(len(df))

（ 2 ）最值

In [95]:
df["投票人数"].max()

692795

In [38]:
df["投票人数"].min()

21

In [39]:
df["评分"].max()

9.9

In [40]:
df["评分"].min()

2.0

In [41]:
df["年代"].min()

1888

（ 3 ）均值和中值

In [42]:
df["投票人数"].mean()

6268.7812802976705

In [43]:
df["投票人数"].median()

354.0

In [44]:
df["评分"].mean()

6.921951515969828

In [46]:
df["评分"].median()

7.1

（ 4 ）方差和标准差

In [47]:
df["评分"].var()

1.5968697056255758

In [48]:
df["评分"].std()

1.263673100776295

（ 5 ）求和

In [49]:
df["投票人数"].sum()

239235500

（ 6 ）相关系数和协方差

In [50]:
df[["投票人数", "评分"]].corr()

          投票人数        评分
投票人数  1.000000  0.126953
评分    0.126953  1.000000

In [51]:
df[["投票人数", "评分"]].cov()

              投票人数           评分
投票人数  6.916707e+08  4219.174348
评分    4.219174e+03     1.596870

（ 7 ）计数

In [52]:
len(df)

38163

In [59]:
df["产地"].unique()

array(['美国', '意大利', '中国大陆', '日本', '法国', '英国', '韩国', '中国香港', '阿根廷', '德国',
       '印度', '其他', '加拿大', '波兰', '泰国', '澳大利亚', '西班牙', '俄罗斯', '中国台湾', '荷兰',
       '丹麦', '比利时', '巴西', '瑞典', '墨西哥'], dtype=object)

In [60]:
len(df["产地"].unique())

25

### 产地中包含了一些重复的数据，比如美国和USA，德国和西德，俄罗斯和苏联
我们可以通过数据替换的方法将这些相同国家的电影数据合并一下。

In [96]:
df["产地"].replace("USA","美国",inplace = True)

In [97]:
df["产地"].replace(["西德","苏联"],["德国","俄罗斯"], inplace = True)

In [98]:
len(df["产地"].unique())

25

In [99]:
df["年代"].unique()

array([1994, 1957, 1997, 1993, 2012, 2013, 2003, 2016, 2009, 2008, 2001,
       1931, 1961, 2010, 2004, 1998, 1972, 1939, 2015, 1946, 2011, 1982,
       1960, 2006, 1988, 2002, 1995, 1996, 1984, 2014, 1953, 2007, 2000,
       1967, 1983, 1963, 1977, 1966, 1971, 1974, 1985, 1987, 1973, 1962,
       1969, 1989, 1979, 1981, 1936, 1954, 1992, 1970, 1991, 2005, 1920,
       1933, 1990, 1999, 1896, 1965, 1921, 1947, 1975, 1964, 1943, 1928,
       1986, 1895, 1949, 1932, 1905, 1940, 1908, 1900, 1978, 1951, 1958,
       1898, 1976, 1938, 1907, 1948, 1952, 1926, 1955, 1906, 1959, 1934,
       1944, 1888, 1909, 1925, 1956, 1923, 1945, 1913, 1903, 1904, 1980,
       1968, 1917, 1935, 1942, 1950, 1902, 1941, 1930, 1937, 1922, 1916,
       1929, 1927, 1919, 1914, 1912, 1924, 1918, 1899, 1901, 1915, 1892,
       1894, 1910, 1897, 1911, 1890, 2018], dtype=int64)

In [100]:
len(df["年代"].unique())

127

计算每一年电影的数量：

In [70]:
df["年代"].value_counts(ascending = True)[:10]

1890    1
2018    1
1892    1
1899    2
1898    2
1888    2
1894    3
1897    3
1911    3
1909    4
Name: 年代, dtype: int64

电影产出前5的国家或地区：

In [66]:
df["产地"].value_counts()[:5]

美国      11714
日本       5006
中国大陆     3791
中国香港     2847
法国       2787
Name: 产地, dtype: int64

**保存数据**

In [101]:
df.to_excel("movie_data2.xlsx")

## 2.4 数据透视

Excel中数据透视表的使用非常广泛，其实Pandas也提供了一个类似的功能，名为pivot_table。

pivot_table非常有用，我们将重点解释pandas中的函数pivot_table。

使用pandas中的pivot_table的一个挑战是，你需要确保你理解你的数据，并清楚地知道你想通过透视表解决什么问题。虽然pivot_table看起来只是一个简单的函数，但是它能够快速地对数据进行强大的分析。

1、基础形式

In [102]:
pd.set_option("max_columns",100)
pd.set_option("max_rows",500)

In [81]:
pd.pivot_table(df, index = ["年代"])

               投票人数          时长        评分
年代
1888     388.000000   60.000000  7.950000
1890      51.000000   60.000000  4.800000
1892     176.000000   60.000000  7.500000
1894     112.666667   60.000000  6.633333
1895     959.875000   60.000000  7.575000
1896     984.250000   60.000000  7.037500
1897      67.000000   60.000000  6.633333
1898     578.500000   60.000000  7.450000
1899      71.000000    9.500000  6.900000
1900     175.285714   36.714286  7.228571
1901     164.500000   47.250000  7.250000
1902    2309.600000   29.600000  7.680000
1903     349.846154   27.000000  7.015385
1904     249.166667   35.000000  7.616667
1905     332.600000   43.800000  6.820000
1906     189.857143   30.571429  7.342857
1907     213.600000   31.800000  7.020000
1908     368.750000   35.000000  7.425000
1909      62.000000   10.750000  7.650000
1910     105.200000   41.800000  6.940000
1911     308.000000   28.666667  7.500000
1912     181.000000   18.000000  7.925000
1913      62.285714   64.571429  6.671429
1914     104.923077   25.923077  6.473077
1915     314.900000   56.800000  7.260000
1916     666.636364   42.363636  7.690909
1917     124.416667   31.333333  7.075000
1918     357.083333   35.166667  7.200000
1919     194.777778   64.611111  7.494444
1920     636.500000   59.357143  7.492857
1921     729.818182   57.363636  7.750000
1922     767.090909   66.363636  7.804545
1923     447.705882   74.882353  7.811765
1924     384.518519   81.962963  8.059259
1925    1104.280000   84.440000  7.788000
1926     443.608696   80.304348  7.773913
1927     695.275862   87.241379  7.751724
1928     413.666667   72.076923  7.964103
1929     740.542857   69.371429  7.440000
1930     555.080000   74.160000  7.360000
1931    1468.666667   78.523810  7.483333
1932     600.081081   77.540541  7.294595
1933     756.020833   79.187500  7.420833
1934     791.460000   83.260000  7.536000
1935     887.695652   73.673913  7.515217
1936    1489.220339   77.440678  7.615254
1937    1612.104167   87.187500  7.568750
1938     552.000000   85.973684  7.736842
1939    5911.857143   97.387755  7.520408
1940    5689.815789   93.684211  7.544737
1941    1552.808511   89.127660  7.427660
1942    2607.754717   78.264151  7.554717
1943     755.357143   79.714286  7.605357
1944    1007.370370   81.925926  7.538889
1945     989.020408   86.959184  7.673469
1946    1034.457627   85.016949  7.606780
1947     443.702703   87.486486  7.502703
1948    1199.255814   88.534884  7.645349
1949     641.685393   81.988764  7.646067
1950    2235.026316   80.157895  7.655263
1951     967.884615   86.653846  7.637179
1952    1507.305882   82.658824  7.775294
1953    4840.620690   84.448276  7.579310
1954    2201.356436   86.326733  7.714851
1955    2000.491228   82.912281  7.567544
1956    1061.675862   76.944828  7.591724
1957    3057.586538   88.884615  7.622115
1958     886.196721   82.975410  7.536885
1959    1725.070312   90.070312  7.571875
1960    1457.107692  101.530769  7.580769
1961    3249.750000   99.510000  7.741000
1962    1985.661972   92.225352  7.707042
1963    1184.027972   92.020979  7.536364
1964    1125.441341   91.162011  7.540782
1965    2012.248447   91.434783  7.591304
1966    1326.640449   89.651685  7.521910
1967    1243.891429   92.074286  7.477143
1968    1107.841176   92.594118  7.324706
1969     601.279412   99.475490  7.367647
1970     683.468085   97.484043  7.294149
1971    1380.576037   96.695853  7.149309
1972    2332.132353   96.372549  7.253431
1973     810.809524   95.471429  7.238095
1974    1693.171171   95.477477  7.063964
1975    2256.704663   97.813472  7.056995
1976    1340.618026   95.055794  7.107725
1977     965.444954   98.197248  7.151376
1978    1001.820896   94.467662  7.096517
1979    1902.991071   96.250000  7.292857
1980    2417.040359   94.443946  7.182063
1981    1620.566176   93.709559  7.154044
1982    2174.809160   92.889313  7.286260
1983    1551.894545   91.985455  7.296727
1984    2676.129693   91.023891  7.380887
1985    1612.430380   93.974684  7.267722
1986    2836.777090   89.235294  7.249536
1987    3146.832845   89.269795  7.282111
1988    4859.352332   89.292746  7.265544
1989    3009.383632   88.501279  7.199233
1990    5003.312821   91.976923  7.156923
1991    4708.414216   93.661765  7.154412
1992    5573.535047   92.670561  7.190187
1993    8154.555809   95.473804  7.186560
1994   11591.339468   91.554192  7.257260
1995    8266.887734   95.114345  7.275052
1996    5154.665362   95.819961  7.249119
1997    8383.681818   95.446970  7.325758
1998    7587.203540   92.021239  7.223540
1999    7228.077796   92.914100  7.171151
2000    6022.013947   92.917713  7.112413
2001    8740.049751   91.342040  7.070647
2002    6705.952218   92.268487  7.045620
2003    8104.751896   90.695558  7.114410
2004    8758.644749   91.376256  6.999909
2005    6626.300242   92.804681  7.011864
2006    7407.740591   90.619624  6.901546
2007    6346.090801   86.842136  6.859703
2008    6876.232486   85.589517  6.892164
2009    8694.675558   86.681546  6.732825
2010    9691.044576   83.785177  6.752793
2011    8860.328455   84.437398  6.560325
2012    7165.750248   85.321606  6.444896
2013    7694.106727   85.337380  6.375974
2014    7803.983931   86.354580  6.249384
2015    7954.999363   90.338432  6.121925
2016    7341.388889   91.646825  5.834524
2018  123456.000000  142.000000  6.935704

2、也可以有多个索引。实际上，大多数的pivot_table参数可以通过列表获取多个值。

In [80]:
pd.pivot_table(df, index = ["年代", "产地"])

                  投票人数          时长        评分
年代   产地
1888 英国     388.000000   60.000000  7.950000
1890 美国      51.000000   60.000000  4.800000
1892 法国     176.000000   60.000000  7.500000
1894 法国     148.000000   60.000000  7.000000
     美国      95.000000   60.000000  6.450000
...                ...         ...       ...
2016 法国      44.666667  104.333333  7.300000
     美国   11224.225806   93.161290  6.522581
     英国   14607.272727   85.545455  7.200000
     韩国    1739.850000  106.100000  5.730000
2018 美国  123456.000000  142.000000  6.935704

[1578 rows x 3 columns]

3、也可以指定需要统计汇总的数据

In [84]:
pd.pivot_table(df, index = ["年代", "产地"], values = ["评分"])

               评分
年代   产地
1888 英国  7.950000
1890 美国  4.800000
1892 法国  7.500000
1894 法国  7.000000
     美国  6.450000
...           ...
2016 法国  7.300000
     美国  6.522581
     英国  7.200000
     韩国  5.730000
2018 美国  6.935704

[1578 rows x 1 columns]

4、还可以指定函数，来统计不同的统计值

In [5]:
pd.pivot_table(df, index = ["年代", "产地"], values = ["投票人数"], aggfunc = np.sum)

               投票人数
年代    产地
1888  英国        776
1890  美国         51
1892  法国        176
1894  法国        148
      美国        190
1895  法国       7679
1896  法国       7497
      美国        167
      英国        210
1897  法国        201
1898  法国        991
      英国        166
1899  法国        142
1900  法国        156
      美国        425
      英国        646
1901  法国        142
      英国        516
1902  法国      11454
      美国         94
1903  法国        680
      美国       3252
      英国        616
1904  法国       1495
1905  中国大陆      137
      美国        137
      英国       1389
1906  意大利        37
      法国        232
      美国        851
      英国        209
1907  法国       1068
1908  法国       1333
      美国         32
      西班牙       110
1909  美国        248
1910  法国        236
      美国        290
1911  意大利       297
      美国        562
      荷兰         65
1912  俄罗斯       511
      法国        143
      美国         70
1913  俄罗斯        54
      德国        108
      意大利        42
      法国         40
      瑞典         48
      美国        144
1914  意大利       204
      法国         31
      美国       2493
1915  俄罗斯        41
      意大利       134
      法国        179
      美国       5944
1916  德国         48
      美国       7285
1917  俄罗斯        86
      德国         46
      瑞典         46
      美国       1315
1918  德国        190
      瑞典         30
      美国       4065
1919  丹麦         57
      德国        826
      法国         76
      美国       2547
1920  其他         56
      德国       6059
      美国       2796
1921  丹麦         91
      德国        648
      法国        110
      瑞典        804
      美国      14403
1922  中国大陆     1600
      丹麦        687
      德国       4815
      美国       9774
1923  中国大陆       41
      德国         68
      法国        630
      美国       6818
      苏联         54
1924  德国       3710
      法国        808
      美国       5367
      苏联        284
      英国        213
1925  丹麦         87
      其他       8835
      德国        637
      日本         77
      法国        549
      美国      16692
      苏联        566
      英国        164
1926  中国大陆       84
      德国       3062
      日本        314
      法国        458
      美国       5706
      苏联        579
1927  中国大陆      732
      德国      10502
      法国        635
      美国       6613
      苏联        147
      英国       1534
1928  中国大陆       69
      其他         40
      德国        629
      法国       4269
      美国       9424
      苏联        479
      英国        917
      荷兰        306
1929  中国大陆      129
      其他         72
      德国       1950
      日本        632
      比利时        37
      法国      13069
      瑞典         32
      美国       1845
      苏联       5554
      英国       1199
      荷兰       1400
1930  德国       1303
      日本        366
      法国       4355
      美国       7351
      苏联        217
      英国        285
1931  中国大陆     1740
      其他         63
      墨西哥       115
      巴西         69
      德国      14553
      日本       2399
      法国       1441
      美国      40729
      苏联         41
      英国        479
      荷兰         55
1932  中国大陆      153
      德国        956
      日本       2391
      法国        449
      美国      18166
      苏联         33
      英国         55
1933  中国大陆     1000
      其他        227
      德国        927
      日本       1137
      比利时        89
      法国       2037
      美国      29942
      英国        158
      西班牙       772
1934  中国大陆    10044
      意大利       153
      日本       1308
      法国       2012
      美国      24435
      苏联        366
      英国       1255
1935  中国大陆     1650
      中国香港      101
      德国      10180
      日本       1196
      法国        353
      美国      18263
      英国       9091
1936  中国大陆      894
      墨西哥        42
      日本       2943
      法国       2185
      瑞典         76
      美国      78227
      英国       3497
1937  中国大陆    13426
      日本       1113
      法国       4495
      美国      55556
      苏联        609
      英国       2236
1938  中国大陆       49
      中国香港       39
      德国       2418
      日本        204
      法国       1507
      美国      11283
      苏联        358
      英国       5118
1939  中国大陆      259
      中国香港       47
      日本       1613
      法国       3892
      美国     281863
      苏联        916
      英国       1091
1940  中国大陆      703
      德国         36
      日本         50
      瑞典         38
      美国     213876
      苏联         72
      英国       1438
1941  中国大陆     2026
      日本       1360
      法国         35
      美国      67676
      英国       1885
1942  丹麦         33
      日本       1550
      法国        302
      美国     136001
      苏联         98
      英国        227
1943  中国大陆       83
      丹麦        765
      德国        149
      意大利       373
      日本       2454
      法国       3094
      美国      35112
      英国        270
1944  墨西哥        38
      德国        108
      意大利       631
      日本        247
      法国         37
      瑞典        304
      美国      51457
      苏联        808
      英国        768
1945  意大利      3062
      日本       2607
      法国       2861
      美国      34424
      英国       5508
1946  丹麦         43
      其他         64
      德国        171
      意大利      2195
...             ...
2006  美国    4914321
      英国     466740
      荷兰      38689
      西班牙    139997
      阿根廷      1897
      韩国     656011
2007  USA      2237
      中国台湾   377112
      中国大陆  1231565
      中国香港   836810
      丹麦       2385
      俄罗斯     57214
      其他     135171
      加拿大     66640
      印度      69010
      墨西哥      4842
      巴西      28534
      德国      67963
      意大利     11276
      日本    1035307
      比利时     11636
      法国     404044
      波兰      17047
      泰国     231093
      澳大利亚    18580
      瑞典       7634
      美国    4870014
      英国     794905
      荷兰       2414
      西班牙    121745
      阿根廷      1501
      韩国     286484
2008  USA      2695
      中国台湾   427524
      中国大陆  1794287
      中国香港   902506
      丹麦       5885
      俄罗斯     15004
      其他     108041
      加拿大     49867
      印度      53581
      墨西哥      3292
      巴西       5013
      德国     233345
      意大利     46410
      日本    1423887
      比利时      9523
      法国     429951
      波兰       1777
      泰国     116819
      澳大利亚   105213
      瑞典      46462
      美国    5564122
      英国    1148111
      荷兰       8274
      西班牙    185374
      阿根廷     51780
      韩国     498663
2009  USA      5333
      中国台湾   386512
      中国大陆  2149787
      中国香港  1064941
      丹麦      15536
      俄罗斯     14656
      其他     113880
      加拿大    209688
      印度     561482
      墨西哥      4674
      巴西       9106
      德国      86050
      意大利     22056
      日本     855530
      比利时      5880
      法国     622075
      波兰       3724
      泰国     207147
      澳大利亚   234690
      瑞典       9207
      美国    7725392
      英国    1139634
      荷兰      24379
      西班牙    106550
      阿根廷     52038
      韩国     342172
2010  USA      1294
      中国台湾   552455
      中国大陆  3663612
      中国香港  1950169
      丹麦      21426
      俄罗斯     14971
      其他     114822
      加拿大     51002
      印度      72698
      墨西哥     11921
      巴西      53888
      德国     136262
      意大利     19669
      日本    1461526
      比利时      4674
      法国     441137
      波兰       1346
      泰国     571581
      澳大利亚    33903
      瑞典      16334
      美国    7204603
      英国     776923
      荷兰       4781
      西班牙    100721
      阿根廷       355
      韩国     775243
2011  中国台湾   731501
      中国大陆  3710218
      中国香港  1037921
      丹麦      15303
      俄罗斯      4826
      其他     288173
      加拿大     27517
      印度      18921
      墨西哥      1092
      巴西       4724
      德国      59237
      意大利      9788
      日本     927887
      比利时     22695
      法国     625882
      波兰       6926
      泰国      41219
      澳大利亚    52487
      瑞典       5749
      美国    7076935
      英国     600291
      荷兰       2985
      西班牙    257667
      阿根廷     12060
      韩国     805302
2012  中国台湾   444104
      中国大陆  3712348
      中国香港   722035
      丹麦      96701
      俄罗斯      8639
      其他     118476
      加拿大     86218
      印度      91747
      墨西哥       573
      巴西       1995
      德国     357523
      意大利     12628
      日本     779383
      比利时      4785
      法国     373003
      波兰        360
      泰国      67297
      澳大利亚    18329
      瑞典       6621
      美国    6308852
      英国     549443
      荷兰       2863
      西班牙     85738
      阿根廷       506
      韩国     610317
2013  中国台湾   114066
      中国大陆  4915275
      中国香港   414461
      丹麦      53879
      俄罗斯     14344
      其他      66313
      加拿大     40994
      印度      26584
      墨西哥     15196
      巴西       7439
      德国      71407
      意大利     62102
      日本     898577
      比利时      6183
      法国     308985
      波兰      10094
      泰国      30951
      澳大利亚   237778
      瑞典       6772
      美国    6228647
      英国     490408
      荷兰       8180
      西班牙     45473
      阿根廷      6341
      韩国    1130800
2014  中国台湾    95478
      中国大陆  4708860
      中国香港   522649
      丹麦       3494
      俄罗斯     23983
      其他     160977
      加拿大     56493
      印度     131853
      墨西哥      2132
      巴西      16715
      德国     104338
      意大利      6388
      日本     960003
      比利时     13560
      法国     519704
      波兰       3405
      泰国      23969
      澳大利亚   128793
      瑞典      20313
      美国    5489650
      英国    1005842
      荷兰       9861
      西班牙     29319
      阿根廷     79107
      韩国     453152
2015  中国台湾   349369
      中国大陆  5320460
      中国香港   532269
      丹麦      10374
      俄罗斯     65740
      其他     186614
      加拿大     11039
      印度      62768
      墨西哥     21409
      巴西       2507
      德国      33039
      意大利     56183
      日本     635038
      比利时     21364
      法国     165140
      波兰        660
      泰国      11165
      澳大利亚   194468
      瑞典      17822
      美国    3786409
      英国     627275
      荷兰       4875
      西班牙     14853
      阿根廷       746
      韩国     349808
2016  中国大陆   860428
      中国香港    74309
      丹麦         43
      其他        694
      加拿大       695
      印度        317
      日本      22031
      法国        134
      美国     695902
      英国     160680
      韩国      34797
2018  美国     123456
34943 中国大陆      128
39180 日本         49
2008‎ 中国大陆      544

[1619 rows x 1 columns]

通过将“投票人数”列和“评分”列进行对应分组，对“产地”实现数据聚合和总结。

In [89]:
pd.pivot_table(df, index = ["产地"], values = ["投票人数", "评分"], aggfunc = [np.sum, np.mean])

            sum                        mean
           投票人数            评分          投票人数        评分
产地
中国台湾    5237466   4367.200000   8474.864078  7.066667
中国大陆   41380993  22984.800000  10915.587708  6.062991
中国香港   23179448  18430.200000   8141.709870  6.473551
丹麦       394745   1427.600000   2003.781726  7.246701
俄罗斯      486082   3597.200000   1021.180672  7.557143
其他      3048849  13607.900000   1619.144450  7.226713
加拿大     1362581   4769.600000   1921.834979  6.727221
印度      1146173   2443.900000   3219.587079  6.864888
墨西哥      139462    829.000000   1191.982906  7.085470
巴西       357027    716.000000   3606.333333  7.232323
德国      2679856   7338.300000   2624.736533  7.187365
意大利     2500842   5322.700000   3374.955466  7.183131
日本     17981631  36006.000000   3592.015781  7.192569
比利时      170449    986.000000   1244.153285  7.197080
法国     10208966  20186.500000   3663.066380  7.243093
波兰       159577   1347.000000    881.640884  7.441989
泰国      1564881   1796.100000   5322.724490  6.109184
澳大利亚    1415443   2051.300000   4798.111864  6.953559
瑞典       289794   1388.600000   1549.700535  7.425668
美国    101645832  81100.135704   8677.294861  6.923351
英国     13236409  19930.800000   4979.837848  7.498420
荷兰       144596   1081.200000    957.589404  7.160265
西班牙     1486383   3112.100000   3355.266366  7.025056
阿根廷      258085    819.100000   2283.938053  7.248673
韩国      8759930   8523.200000   6527.518629  6.351118

5、非数值（NaN）难以处理。如果想移除它们，可以使用“fill_value”将其设置为0。

In [90]:
pd.pivot_table(df, index = ["产地"], aggfunc = [np.sum, np.mean], fill_value = 0)

           sum                                           mean                \
            年代       投票人数       时长            评分           年代          投票人数
产地
中国台湾   1235388    5237466    53925   4367.200000  1999.009709   8474.864078
中国大陆   7599372   41380993   309031  22984.800000  2004.582432  10915.587708
中国香港   5668630   23179448   252111  18430.200000  1991.088865   8141.709870
丹麦      393821     394745    17436   1427.600000  1999.091371   2003.781726
俄罗斯     944809     486082    45744   3597.200000  1984.892857   1021.180672
其他     3763593    3048849   165057  13607.900000  1998.721721   1619.144450
加拿大    1419787    1362581    57140   4769.600000  2002.520451   1921.834979
印度      714150    1146173    43058   2443.900000  2006.039326   3219.587079
墨西哥     233156     139462    10839    829.000000  1992.786325   1191.982906
巴西      197989     357027     8749    716.000000  1999.888889   3606.333333
德国     2037971    2679856    94196   7338.300000  1996.053869   2624.736533
意大利    1471329    2500842    77311   5322.700000  1985.599190   3374.955466
日本    10011432   17981631   425563  36006.000000  1999.886536   3592.015781
比利时     273932     170449    11380    986.000000  1999.503650   1244.153285
法国     5551130   10208966   251524  20186.500000  1991.794044   3663.066380
波兰      359652     159577    14613   1347.000000  1987.027624    881.640884
泰国      590684    1564881    26002   1796.100000  2009.129252   5322.724490
澳大利亚    590875    1415443    25250   2051.300000  2002.966102   4798.111864
瑞典      371589     289794    17695   1388.600000  1987.106952   1549.700535
美国    23363806  101645832  1053980  81100.135704  1994.519891   8677.294861
英国     5307045   13236409   237129  19930.800000  1996.630926   4979.837848
荷兰      302181     144596    11459   1081.200000  2001.198675    957.589404
西班牙     886685    1486383    40271   3112.100000  2001.546275   3355.266366
阿根廷     226476     258085    10458    819.100000  2004.212389   2283.938053
韩国     2694871    8759930   134225   8523.200000  2008.100596   6527.518629


              时长        评分
产地
中国台湾   87.257282  7.066667
中国大陆   81.517014  6.062991
中国香港   88.553214  6.473551
丹麦     88.507614  7.246701
俄罗斯    96.100840  7.557143
其他     87.656399  7.226713
加拿大    80.592384  6.727221
印度    120.949438  6.864888
墨西哥    92.641026  7.085470
巴西     88.373737  7.232323
德国     92.258570  7.187365
意大利   104.333333  7.183131
日本     85.010587  7.192569
比利时    83.065693  7.197080
法国     90.249013  7.243093
波兰     80.734807  7.441989
泰国     88.442177  6.109184
澳大利亚   85.593220  6.953559
瑞典     94.625668  7.425668
美国     89.976097  6.923351
英国     89.213318  7.498420
荷兰     75.887417  7.160265
西班牙    90.905192  7.025056
阿根廷    92.548673  7.248673
韩国    100.018629  6.351118

6、加入margins = True，可以在下方显示一些总和数据。

In [92]:
pd.pivot_table(df, index = ["产地"], aggfunc = [np.sum, np.mean], fill_value = 0, margins = True)

           sum                                            mean                \
            年代       投票人数       时长             评分           年代          投票人数
产地
中国台湾   1235388    5237466    53925    4367.200000  1999.009709   8474.864078
中国大陆   7599372   41380993   309031   22984.800000  2004.582432  10915.587708
中国香港   5668630   23179448   252111   18430.200000  1991.088865   8141.709870
丹麦      393821     394745    17436    1427.600000  1999.091371   2003.781726
俄罗斯     944809     486082    45744    3597.200000  1984.892857   1021.180672
其他     3763593    3048849   165057   13607.900000  1998.721721   1619.144450
加拿大    1419787    1362581    57140    4769.600000  2002.520451   1921.834979
印度      714150    1146173    43058    2443.900000  2006.039326   3219.587079
墨西哥     233156     139462    10839     829.000000  1992.786325   1191.982906
巴西      197989     357027     8749     716.000000  1999.888889   3606.333333
德国     2037971    2679856    94196    7338.300000  1996.053869   2624.736533
意大利    1471329    2500842    77311    5322.700000  1985.599190   3374.955466
日本    10011432   17981631   425563   36006.000000  1999.886536   3592.015781
比利时     273932     170449    11380     986.000000  1999.503650   1244.153285
法国     5551130   10208966   251524   20186.500000  1991.794044   3663.066380
波兰      359652     159577    14613    1347.000000  1987.027624    881.640884
泰国      590684    1564881    26002    1796.100000  2009.129252   5322.724490
澳大利亚    590875    1415443    25250    2051.300000  2002.966102   4798.111864
瑞典      371589     289794    17695    1388.600000  1987.106952   1549.700535
美国    23363806  101645832  1053980   81100.135704  1994.519891   8677.294861
英国     5307045   13236409   237129   19930.800000  1996.630926   4979.837848
荷兰      302181     144596    11459    1081.200000  2001.198675    957.589404
西班牙     886685    1486383    40271    3112.100000  2001.546275   3355.266366
阿根廷     226476     258085    10458     819.100000  2004.212389   2283.938053
韩国     2694871    8759930   134225    8523.200000  2008.100596   6527.518629
All   76210353  239235500  3394146  264162.435704  1996.969656   6268.781280


              时长        评分
产地
中国台湾   87.257282  7.066667
中国大陆   81.517014  6.062991
中国香港   88.553214  6.473551
丹麦     88.507614  7.246701
俄罗斯    96.100840  7.557143
其他     87.656399  7.226713
加拿大    80.592384  6.727221
印度    120.949438  6.864888
墨西哥    92.641026  7.085470
巴西     88.373737  7.232323
德国     92.258570  7.187365
意大利   104.333333  7.183131
日本     85.010587  7.192569
比利时    83.065693  7.197080
法国     90.249013  7.243093
波兰     80.734807  7.441989
泰国     88.442177  6.109184
澳大利亚   85.593220  6.953559
瑞典     94.625668  7.425668
美国     89.976097  6.923351
英国     89.213318  7.498420
荷兰     75.887417  7.160265
西班牙    90.905192  7.025056
阿根廷    92.548673  7.248673
韩国    100.018629  6.351118
All    88.938134  6.921952

7、对不同值执行不同的函数：可以向aggfunc传递一个字典。不过，这样做有一个副作用，那就是必须将标签做的更加整洁才行。

In [93]:
pd.pivot_table(df, index = ["产地"], values = ["投票人数", "评分"], aggfunc = {"投票人数":np.sum, "评分":np.mean}, fill_value = 0)

           投票人数        评分
产地
中国台湾    5237466  7.066667
中国大陆   41380993  6.062991
中国香港   23179448  6.473551
丹麦       394745  7.246701
俄罗斯      486082  7.557143
其他      3048849  7.226713
加拿大     1362581  6.727221
印度      1146173  6.864888
墨西哥      139462  7.085470
巴西       357027  7.232323
德国      2679856  7.187365
意大利     2500842  7.183131
日本     17981631  7.192569
比利时      170449  7.197080
法国     10208966  7.243093
波兰       159577  7.441989
泰国      1564881  6.109184
澳大利亚    1415443  6.953559
瑞典       289794  7.425668
美国    101645832  6.923351
英国     13236409  7.498420
荷兰       144596  7.160265
西班牙     1486383  7.025056
阿根廷      258085  7.248673
韩国      8759930  6.351118

对各个地区的投票人数求和，对评分求均值

对各个年份的投票人数求和，对评分求均值

In [94]:
pd.pivot_table(df, index = ["年代"], values = ["投票人数", "评分"], aggfunc = {"投票人数":np.sum, "评分":np.mean}, fill_value = 0, margins = True)

           投票人数        评分
年代
1888        776  7.950000
1890         51  4.800000
1892        176  7.500000
1894        338  6.633333
1895       7679  7.575000
1896       7874  7.037500
1897        201  6.633333
1898       1157  7.450000
1899        142  6.900000
1900       1227  7.228571
1901        658  7.250000
1902      11548  7.680000
1903       4548  7.015385
1904       1495  7.616667
1905       1663  6.820000
1906       1329  7.342857
1907       1068  7.020000
1908       1475  7.425000
1909        248  7.650000
1910        526  6.940000
1911        924  7.500000
1912        724  7.925000
1913        436  6.671429
1914       2728  6.473077
1915       6298  7.260000
1916       7333  7.690909
1917       1493  7.075000
1918       4285  7.200000
1919       3506  7.494444
1920       8911  7.492857
1921      16056  7.750000
1922      16876  7.804545
1923       7611  7.811765
1924      10382  8.059259
1925      27607  7.788000
1926      10203  7.773913
1927      20163  7.751724
1928      16133  7.964103
1929      25919  7.440000
1930      13877  7.360000
1931      61684  7.483333
1932      22203  7.294595
1933      36289  7.420833
1934      39573  7.536000
1935      40834  7.515217
1936      87864  7.615254
1937      77381  7.568750
1938      20976  7.736842
1939     289681  7.520408
1940     216213  7.544737
1941      72982  7.427660
1942     138211  7.554717
1943      42300  7.605357
1944      54398  7.538889
1945      48462  7.673469
1946      61033  7.606780
1947      32834  7.502703
1948     103136  7.645349
1949      57110  7.646067
1950     169862  7.655263
1951      75495  7.637179
1952     128121  7.775294
1953     421134  7.579310
1954     222337  7.714851
1955     228056  7.567544
1956     153943  7.591724
1957     317989  7.622115
1958     108116  7.536885
1959     220809  7.571875
1960     189424  7.580769
1961     324975  7.741000
1962     281964  7.707042
1963     169316  7.536364
1964     201454  7.540782
1965     323972  7.591304
1966     236142  7.521910
1967     217681  7.477143
1968     188333  7.324706
1969     122661  7.367647
1970     128492  7.294149
1971     299585  7.149309
1972     475755  7.253431
1973     170270  7.238095
1974     375884  7.063964
1975     435544  7.056995
1976     312364  7.107725
1977     210467  7.151376
1978     201366  7.096517
1979     426270  7.292857
1980     539000  7.182063
1981     440794  7.154044
1982     569800  7.286260
1983     426771  7.296727
1984     784106  7.380887
1985     509528  7.267722
1986     916279  7.249536
1987    1073070  7.282111
1988    1875710  7.265544
1989    1176669  7.199233
1990    1951292  7.156923
1991    1921033  7.154412
1992    2385473  7.190187
1993    3579850  7.186560
1994    5668165  7.257260
1995    3976373  7.275052
1996    2634034  7.249119
1997    4426584  7.325758
1998    4286770  7.223540
1999    4459724  7.171151
2000    4317784  7.112413
2001    7027000  7.070647
2002    5894532  7.045620
2003    7480686  7.114410
2004    9590716  6.999909
2005    8209986  7.011864
2006   11022718  6.901546
2007   10693163  6.859703
2008   13250500  6.892164
2009   15972119  6.732825
2010   18044725  6.752793
2011   16347306  6.560325
2012   14460484  6.444896
2013   15211249  6.375974
2014   14570038  6.249384
2015   12481394  6.121925
2016    1850030  5.834524
2018     123456  6.935704
All   239235500  6.921952

###  透视表过滤

In [104]:
table = pd.pivot_table(df, index = ["年代"], values = ["投票人数", "评分"], aggfunc = {"投票人数":np.sum, "评分":np.mean}, fill_value = 0)

In [96]:
type(table)

pandas.core.frame.DataFrame

In [97]:
table[:5]

      投票人数        评分
年代
1888   776  7.950000
1890    51  4.800000
1892   176  7.500000
1894   338  6.633333
1895  7679  7.575000

**1994年被誉为电影史上最伟大的一年，但是通过数据我们可以发现，1994年的平均得分其实并不是很高。1924年的电影均分最高。**

In [4]:
table[table.index == 1994]

         投票人数       评分
年代
1994  5668165  7.25726

In [107]:
table.sort_values("评分", ascending = False)

          投票人数        评分
年代
1924     10382  8.059259
1928     16133  7.964103
1888       776  7.950000
1912       724  7.925000
1923      7611  7.811765
1922     16876  7.804545
1925     27607  7.788000
1952    128121  7.775294
1926     10203  7.773913
1927     20163  7.751724
1921     16056  7.750000
1961    324975  7.741000
1938     20976  7.736842
1954    222337  7.714851
1962    281964  7.707042
1916      7333  7.690909
1902     11548  7.680000
1945     48462  7.673469
1950    169862  7.655263
1909       248  7.650000
1949     57110  7.646067
1948    103136  7.645349
1951     75495  7.637179
1957    317989  7.622115
1904      1495  7.616667
1936     87864  7.615254
1946     61033  7.606780
1943     42300  7.605357
1956    153943  7.591724
1965    323972  7.591304
1960    189424  7.580769
1953    421134  7.579310
1895      7679  7.575000
1959    220809  7.571875
1937     77381  7.568750
1955    228056  7.567544
1942    138211  7.554717
1940    216213  7.544737
1964    201454  7.540782
1944     54398  7.538889
1958    108116  7.536885
1963    169316  7.536364
1934     39573  7.536000
1966    236142  7.521910
1939    289681  7.520408
1935     40834  7.515217
1947     32834  7.502703
1892       176  7.500000
1911       924  7.500000
1919      3506  7.494444
1920      8911  7.492857
1931     61684  7.483333
1967    217681  7.477143
1898      1157  7.450000
1929     25919  7.440000
1941     72982  7.427660
1908      1475  7.425000
1933     36289  7.420833
1984    784106  7.380887
1969    122661  7.367647
1930     13877  7.360000
1906      1329  7.342857
1997   4426584  7.325758
1968    188333  7.324706
1983    426771  7.296727
1932     22203  7.294595
1970    128492  7.294149
1979    426270  7.292857
1982    569800  7.286260
1987   1073070  7.282111
1995   3976373  7.275052
1985    509528  7.267722
1988   1875710  7.265544
1915      6298  7.260000
1994   5668165  7.257260
1972    475755  7.253431
1901       658  7.250000
1986    916279  7.249536
1996   2634034  7.249119
1973    170270  7.238095
1900      1227  7.228571
1998   4286770  7.223540
1918      4285  7.200000
1989   1176669  7.199233
1992   2385473  7.190187
1993   3579850  7.186560
1980    539000  7.182063
1999   4459724  7.171151
1990   1951292  7.156923
1991   1921033  7.154412
1981    440794  7.154044
1977    210467  7.151376
1971    299585  7.149309
2003   7480686  7.114410
2000   4317784  7.112413
1976    312364  7.107725
1978    201366  7.096517
1917      1493  7.075000
2001   7027000  7.070647
1974    375884  7.063964
1975    435544  7.056995
2002   5894532  7.045620
1896      7874  7.037500
1907      1068  7.020000
1903      4548  7.015385
2005   8209986  7.011864
2004   9590716  6.999909
1910       526  6.940000
2018    123456  6.935704
2006  11022718  6.901546
1899       142  6.900000
2008  13237909  6.891745
2007  10693163  6.859703
1905      1663  6.820000
2010  18057316  6.753301
2009  15972119  6.732825
1913       436  6.671429
1894       338  6.633333
1897       201  6.633333
2011  16347306  6.560325
1914      2728  6.473077
2012  14460484  6.444896
2013  15211249  6.375974
2014  14570038  6.249384
2015  12481394  6.121925
2016   1850030  5.834524
1890        51  4.800000

**同样的，我们也可以按照多个索引来进行汇总。**

In [108]:
pd.pivot_table(df, index = ["产地", "年代"], values = ["投票人数", "评分"], aggfunc = {"投票人数":np.sum, "评分":np.mean}, fill_value = 0)

              投票人数        评分
产地   年代
中国台湾 1963      121  6.400000
     1965      461  6.800000
     1966       51  7.900000
     1967     4444  8.000000
     1968      178  7.400000
     1969      273  7.400000
     1970     5953  7.266667
     1971      153  6.933333
     1972      676  7.500000
     1973     4903  7.280000
     1974      815  6.771429
     1975     2214  6.611111
     1976     3189  6.336364
     1977     1761  6.525000
     1978     2618  6.800000
     1979     7887  6.956250
     1980     2200  7.222222
     1981     4143  7.140000
     1982     6199  6.942857
     1983    22919  7.750000
     1984     9558  7.410000
     1985    18207  7.314286
     1986    12628  7.418182
     1987    32262  7.550000
     1988    32186  6.877778
     1989    40547  7.857143
     1990    10338  6.900000
     1991   120202  7.100000
     1992    37466  7.600000
     1993   105238  6.840000
     1994   162341  7.428571
     1995    39361  6.938462
     1996    25499  7.900000
     1997     7882  7.300000
     1998    38080  7.350000
     1999     4067  6.411111
     2000   288300  7.466667
     2001    15735  7.355556
     2002   261857  7.680000
     2003     7162  7.450000
     2004    71071  7.285714
     2005   149199  7.047619
     2006   199001  6.982609
     2007   377112  6.968421
     2008   427524  7.420000
     2009   386512  7.100000
     2010   552455  7.053846
     2011   731501  7.231818
     2012   444104  6.556098
     2013   114066  7.076471
     2014    95478  6.522222
     2015   349369  6.576000
中国大陆 1905      137  8.400000
     1922     1600  8.100000
     1923       41  8.100000
     1926       84  6.900000
     1927      732  7.750000
     1928       69  7.400000
     1929      129  5.850000
     1931     1740  7.850000
     1932      153  7.400000
     1933     1000  7.575000
     1934    10044  7.742857
     1935     1650  7.575000
     1936      894  7.950000
     1937    13426  7.625000
     1938       49  6.900000
     1939      259  6.900000
     1940      703  7.600000
     1941     2026  7.050000
     1943       83  6.800000
     1947     9333  7.657143
     1948    18579  7.771429
     1949    11341  7.500000
     1950     4676  7.300000
     1951     1745  7.025000
     1952     4633  7.533333
     1953      802  7.100000
     1954     9021  7.675000
     1955    77289  7.687500
     1956    18435  7.776923
     1957     1069  7.450000
     1958    27456  7.630769
     1959    42176  7.540000
     1960    10421  7.628571
     1961   132208  7.662500
     1962    77091  7.993333
     1963    42509  7.800000
     1964    28290  7.478571
     1965    44280  7.083333
     1966      255  7.200000
     1970     1552  6.700000
     1971      856  7.650000
     1972      369  6.700000
     1973      296  6.300000
     1974    17094  6.500000
     1975      966  6.766667
     1976      310  7.025000
     1977      144  6.050000
     1978     1824  7.620000
     1979    74604  7.187500
     1980    80370  7.120833
     1981   201269  7.348148
     1982    97271  7.760714
     1983    81808  7.394737
     1984    28751  7.704545
     1985    15897  7.321739
     1986    60850  7.414286
     1987   107166  7.089655
     1988    72474  7.117857
     1989    22764  6.713333
     1990    60312  6.982353
     1991   109925  6.895000
     1992   116750  7.464000
     1993   539290  6.838710
     1994   466107  7.300000
     1995    83383  6.991304
     1996    82076  7.052174
     1997   279282  7.325000
     1998   133908  7.142105
     1999   379975  7.033333
     2000   424035  7.397500
     2001   444672  7.072973
     2002   599007  6.635897
     2003   647649  6.810256
     2004  1059846  6.690909
     2005  1068534  6.664384
     2006  1355795  6.507143
     2007  1231565  6.603279
     2008  1794831  6.586207
     2009  2149787  6.529825
     2010  3663612  6.358468
     2011  3710218  5.824606
     2012  3712348  5.722328
     2013  4915275  5.306500
     2014  4708860  4.963830
     2015  5320460  4.969189
     2016   860428  4.712000
中国香港 1935      101  6.500000
     1938       39  7.000000
     1939       47  6.500000
     1947      165  6.500000
     1948      628  6.600000
     1949      109  7.600000
     1950      274  6.925000
     1952       47  7.800000
     1953      240  7.150000
     1954      126  7.700000
     1955      816  6.950000
     1956      594  7.480000
     1957      291  7.350000
     1958      329  7.166667
     1959     2070  7.855556
     1960     2573  7.336364
     1961      660  7.033333
     1962     1097  7.285714
     1963     2623  7.220000
     1964     2819  7.120000
     1965     1456  6.892857
     1966     6091  6.628571
     1967     5540  6.495833
     1968     2606  6.452941
     1969     8164  6.503571
     1970     6203  6.561538
     1971    18257  6.360000
     1972    37389  6.560000
     1973    10562  6.374194
     1974    11277  6.432500
     1975    10880  6.445946
     1976    26347  6.600000
     1977    19878  6.531579
     1978    57300  6.634091
     1979    20632  6.750000
     1980    28410  6.666667
     1981    27940  6.716000
     1982    52765  6.632759
     1983   116754  6.837288
     1984   103660  6.691379
     1985   113874  6.598276
     1986   188439  6.614545
     1987   403003  6.798333
     1988   313086  6.679167
     1989   254258  6.628916
     1990   574822  6.622892
     1991   693666  6.477228
     1992   954938  6.420690
     1993  1374596  6.575439
     1994  1300511  6.698077
     1995  1234852  6.713889
     1996   853428  6.644737
     1997   557048  6.804762
     1998   539146  6.395313
     1999   854721  6.321053
     2000   573875  6.069737
     2001   787069  6.313580
     2002   934118  6.079452
     2003   655943  6.036842
     2004   488177  5.983333
     2005   553093  6.000000
     2006   330956  6.287805
     2007   836810  6.085106
     2008   902506  6.476786
     2009  1064941  6.442553
     2010  1950169  6.245455
     2011  1037921  5.971053
     2012   722035  6.110526
     2013   414461  6.105714
     2014   522649  5.616667
     2015   532269  5.589189
     2016    74309  5.390909
丹麦   1919       57  7.700000
     1921       91  8.200000
     1922      687  7.850000
     1925       87  6.900000
     1942       33  5.900000
     1943      765  8.500000
     1946       43  6.300000
     1947       47  6.900000
     1948       50  6.800000
     1949       32  6.800000
     1950       33  6.100000
     1955      781  8.400000
     1964      559  8.200000
     1966      362  8.400000
     1967      175  7.900000
     1970      486  5.966667
     1973     1028  5.700000
     1978      650  7.700000
     1980      234  6.600000
     1981       52  8.100000
     1983     1142  8.000000
     1984     1023  7.550000
     1987     4663  7.800000
     1988      239  7.400000
     1991     1765  8.700000
     1992      348  7.950000
     1993       72  6.100000
     1994      803  7.833333
     1995      186  7.700000
     1996     9035  8.066667
     1997     2041  7.450000
     1998     4091  7.525000
     1999     2754  6.925000
     2000    62668  7.800000
     2001      735  7.466667
     2002     3055  7.340000
     2003    54558  7.644444
     2004     1823  7.214286
     2005    10642  7.316667
     2006     1824  7.200000
...            ...       ...
英国   1930      285  7.200000
     1931      479  6.200000
     1932       55  6.600000
     1933      158  7.500000
     1934     1255  7.275000
     1935     9091  7.650000
     1936     3497  7.460000
     1937     2236  6.580000
     1938     5118  7.850000
     1939     1091  7.025000
     1940     1438  7.050000
     1941     1885  7.200000
     1942      227  7.066667
     1943      270  8.100000
     1944      768  6.860000
     1945     5508  7.560000
     1946     2746  7.600000
     1947     1459  7.566667
     1948    14026  7.983333
     1949    11375  7.428571
     1950     3111  7.325000
     1951     6139  7.450000
     1952     1590  7.866667
     1954    22077  7.863636
     1955     3561  7.314286
     1956      685  7.700000
     1957    15082  7.287500
     1958     2968  6.912500
     1959     2214  7.337500
     1960     5691  7.300000
     1961     2985  7.688889
     1962    26684  7.440000
     1963    33211  7.381818
     1964    14151  7.478571
     1965    17776  7.542105
     1966    21066  7.390476
     1967    13781  7.447059
     1968    20162  7.728571
     1969    10290  7.573333
     1970    11224  7.669231
     1971   196950  7.316667
     1972     7562  7.783333
     1973     9659  7.478947
     1974    33604  7.622222
     1975    23552  7.492308
     1976     9938  7.161538
     1977     6220  7.388889
     1978    49214  7.678571
     1979    83993  7.336842
     1980   103208  7.437500
     1981    38313  7.238462
     1982    70225  8.116667
     1983    34011  7.568182
     1984    47220  8.059091
     1985    48178  7.803571
     1986    19846  8.042857
     1987    96401  7.851515
     1988    12110  7.703125
     1989    23809  7.667857
     1990    16765  7.610526
     1991    15067  7.794595
     1992    44339  7.419231
     1993    33191  7.936000
     1994    92367  7.882353
     1995    83958  7.858333
     1996   243371  7.802703
     1997   140013  7.746341
     1998   551628  7.735185
     1999   272030  7.673529
     2000   450144  7.761111
     2001   287455  7.637037
     2002   233341  7.370909
     2003   507072  7.606452
     2004   544610  7.476471
     2005   740864  7.495294
     2006   466740  7.517204
     2007   794905  7.403774
     2008  1148070  7.540299
     2009  1139634  7.330657
     2010   776923  7.534228
     2011   600291  7.315267
     2012   549443  7.269014
     2013   490408  7.460140
     2014  1005842  7.253398
     2015   627275  7.123256
     2016   160680  7.200000
荷兰   1911       65  6.400000
     1928      306  7.500000
     1929     1400  8.400000
     1931       55  8.000000
     1958      160  8.700000
     1962       33  8.500000
     1971     1513  6.200000
     1973     4639  7.400000
     1974      317  7.200000
     1975       83  6.600000
     1977      908  7.300000
     1980      144  8.100000
     1981       47  8.200000
     1983     2631  6.800000
     1984     6681  8.150000
     1985      194  5.600000
     1986      427  7.933333
     1987      101  6.200000
     1988     2920  7.050000
     1990       30  7.500000
     1991      184  7.700000
     1992     7031  7.900000
     1994     1084  7.650000
     1995     1289  7.825000
     1996      145  7.750000
     1997      809  7.400000
     1998      696  7.700000
     1999      185  7.600000
     2000      175  9.100000
     2001       48  6.800000
     2002      507  7.500000
     2003      660  7.600000
     2004      402  7.300000
     2005     1426  6.925000
     2006    38689  7.387500
     2007     2414  7.142857
     2008     8274  7.391667
     2009    24379  6.736364
     2010     4781  6.970000
     2011     2985  6.622222
     2012     2863  6.766667
     2013     8180  6.330000
     2014     9861  7.300000
     2015     4875  6.700000
西班牙  1908      110  8.100000
     1933      772  7.900000
     1953       67  8.000000
     1955      653  8.200000
     1961     2048  7.650000
     1963       92  7.600000
     1965      116  8.000000
     1966      131  7.800000
     1967      196  7.350000
     1968      142  6.150000
     1969       76  7.700000
     1970      168  6.900000
     1971      196  6.550000
     1972     4844  8.300000
     1973     2687  7.000000
     1974      310  7.350000
     1976     3081  7.366667
     1978      232  6.200000
     1979      120  5.600000
     1980      716  6.500000
     1981      397  8.300000
     1982      857  7.200000
     1983     4212  7.925000
     1984     1190  7.933333
     1985      233  6.750000
     1986     2355  7.250000
     1987     3892  7.400000
     1988     3604  7.133333
     1989      115  7.000000
     1990    16920  7.050000
     1991     6040  7.160000
     1992     9771  7.750000
     1993     7441  7.133333
     1994     9349  6.900000
     1995     3161  7.500000
     1996     5769  7.487500
     1997    16533  7.450000
     1998    12390  7.277778
     1999    38614  7.190909
     2000     6717  7.376923
     2001    27233  6.714286
     2002    80405  7.194118
     2003     8223  7.415789
     2004   105168  7.123529
     2005    11600  6.875000
     2006   139997  7.080000
     2007   121745  7.100000
     2008   185374  7.013636
     2009   106550  6.875000
     2010   100721  6.933333
     2011   257667  6.742857
     2012    85738  6.645000
     2013    45473  6.358333
     2014    29319  6.868750
     2015    14853  6.514286
阿根廷  1958      176  7.500000
     1965       44  7.400000
     1968      138  8.900000
     1969       62  8.400000
     1984       25  7.200000
     1985      627  8.000000
     1986      871  7.800000
     1988      400  8.100000
     1992     1836  8.100000
     1994     1635  5.600000
     1997      124  7.800000
     1998      732  7.650000
     1999       40  7.200000
     2000     9506  8.000000
     2001      452  7.175000
     2002      458  7.800000
     2003     1131  7.400000
     2004    30730  7.411111
     2005     2767  7.175000
     2006     1897  7.085714
     2007     1501  6.866667
     2008    51780  7.150000
     2009    52038  7.371429
     2010      355  6.900000
     2011    12060  7.350000
     2012      506  6.483333
     2013     6341  6.616667
     2014    79107  7.150000
     2015      746  7.233333
韩国   1960     1521  6.800000
     1961       89  8.000000
     1975      170  7.100000
     1981      143  7.400000
     1984       95  6.000000
     1985       78  8.600000
     1986      109  6.600000
     1987      774  5.700000
     1989      406  7.950000
     1990      132  7.350000
     1991      281  6.100000
     1992      225  6.850000
     1993     1338  7.460000
     1994      195  6.666667
     1995     1321  6.600000
     1996     3587  6.985714
     1997    11047  6.778571
     1998    66664  6.852941
     1999    53573  6.834783
     2000   140652  6.383333
     2001   354597  6.709091
     2002   249115  6.641667
     2003   853007  6.814545
     2004   608902  6.814062
     2005   469160  6.823611
     2006   656011  6.737500
     2007   286484  6.625000
     2008   498663  6.731081
     2009   342172  6.475000
     2010   775243  6.436364
     2011   805302  6.328090
     2012   610317  6.035238
     2013  1130800  6.062037
     2014   453152  5.650833
     2015   349808  5.423853
     2016    34797  5.730000

[1578 rows x 2 columns]