# 第一次课作业

## （1）python基础语法。

（1）下面两段代码输出的结果相同么？请解释原因。    
① x=4，y=5，print（x+y） 
② x='4',y='5', print(x+y)

In [1]:
x=4
y=5
print(x+y)

9

In [2]:
x='4'
y='5'
print(x+y)

45

In [3]:
type(x+y)

str

（2）‘10/3'，‘10//3’和'10%3'结果相同么？请说明原因。

In [4]:
10/3

3.3333333333333335

In [5]:
10//3

3

In [6]:
11//3

3

In [7]:
10%3

1

（3）string1='I'm a student.' 。print(string1)结果会报错么？如何修改string1使其得到正确的输出？

In [8]:
string1='I\'m a student.'
print(string1)

I'm a student.

（4） a = 3，str(a\*3) + str(a)\*3的输出是什么?

In [9]:
a = 3
str(a*3) + str(a)*3

'9333'

In [11]:
str(a)*3

'333'

（5）my_string = 'this is my string', 如何查看这个字符串长度？

In [12]:
my_string = 'this is my string'
len(my_string)

17

（6）a,b = 4,5,a大于b 或 b大于等于5。请写出这里逻辑运算的代码，并查看输出会是什么。

In [13]:
a,b=4,5

a>=b or b>=5

True

In [15]:
a=4
b=5

In [17]:
b>=5

True

（7）'='和'=='分别表示什么含义？print(2==5)输出什么结果？属于什么类型数据？

In [18]:
print(2==5)

False

In [19]:
type(2==5)

bool

（8）计算：100%(2+2)\*\*3//5

In [20]:
100%(2+2)**3//5

7

In [24]:
100%4**3//5

7

In [25]:
100%64//5

7

In [26]:
36//5

7

（9）a,b = 4,5，a \*= b，a=?

In [27]:
a,b = 4,5
a *= b
a

20

In [28]:
a*=b
a=a*b

（10）int(3.14159)==float(3)会输出什么结果？为什么？type(int(3.14159))==type(float(3))的结果又是什么？

In [29]:
int(3.14159)==float(3)

True

In [30]:
type(int(3.14159))==type(float(3))

False

In [31]:
int(3.14159)

3

In [32]:
float(3)

3.0

In [33]:
type(int(3.141590))

int

In [34]:
type(float(3))

float

## （2）列表，字典，集合

（1）L=[1,2,3,4,1,4,5,6],请完成：①删除列表中的重复元素并输出一个集合；②将7添加到集合中；③将集合转化为列表，删除元素3.

In [35]:
L=[1,2,3,4,1,4,5,6]
s=set(L)
s

{1, 2, 3, 4, 5, 6}

In [38]:
s.add(7)
s

{1, 2, 3, 4, 5, 6, 7}

In [39]:
l=list(s)
l

[1, 2, 3, 4, 5, 6, 7]

In [40]:
l.pop(2)

3

In [41]:
l

[1, 2, 4, 5, 6, 7]

（2）dog = ["tom", "jack", "Collie", "Marry"], kitty = "Marry", 如何判断 kitty 是否是 dog 中的一员?

In [42]:
dog = ["tom", "jack", "Collie", "Marry"]
kitty = "Marry"
kitty in dog

True

（3）dog = ["tom", "jack", "Collie", "Marry"]，将dog逆序。

In [43]:
dog[::-1]

['Marry', 'Collie', 'jack', 'tom']

In [45]:
dog[::2]

['tom', 'Collie']

（4）L=["former", "latter", "starboard"]，请完成：为L在末端添加一个元素“port”。

In [46]:
L=["former", "latter", "starboard"]
L.append('port')
L

['former', 'latter', 'starboard', 'port']

（5）L=[1,2,3,1,5,11,3,6,4,2,5,8,4,2],计算L的最值，和加和。

In [47]:
L=[1,2,3,1,5,11,3,6,4,2,5,8,4,2]

In [48]:
max(L)

11

In [49]:
min(L)

1

In [50]:
sum(L)

57

（6）cube：length：40，width：40，height：40, 请创建一个字典，包括cube的所有信息，并向字典中添加条目“color”和对应值"red"，  
删除属性height，修改属性width为20.

In [54]:
cube={'length':40,'width':40,'height':40}
cube

{'length': 40, 'width': 40, 'height': 40}

In [55]:
cube['length']

40

In [57]:
cube['color']='red'
cube

{'length': 40, 'width': 40, 'height': 40, 'color': 'red'}

In [ ]:
cube.pop('height')

In [58]:
cube

{'length': 40, 'width': 40, 'height': 40, 'color': 'red'}

In [59]:
cube['width']=20
cube

{'length': 40, 'width': 20, 'height': 40, 'color': 'red'}

（7）set_a = {1, 5, 10} set_b = {1, 10, 12} 找出set_a和set_b中共有的元素（交集）。

In [60]:
set_a = {1, 5, 10}
set_b = {1, 10, 12}

In [61]:
set_a & set_b

{1, 10}

In [62]:
set_a | set_b

{1, 5, 10, 12}

In [63]:
set_a - set_b

{5}

（8）从1到10中选出所有的奇数。

In [64]:
[1,2,3,4,5,6,7,8,9,10][::2]

[1, 3, 5, 7, 9]

（9）将字典变为两个元素一一对应的列表，一个只含有关键字，另一个只含有值。 如:{'a': 1, 'b': 2}变为['a', 'b'], [1, 2]

In [65]:
d={'a':1,'b':2}

In [66]:
d.values()

dict_values([1, 2])

In [67]:
d.keys()

dict_keys(['a', 'b'])

## （3）条件判断，循环和函数

（1）L=[1,2,'','my',3,'name','is',4,'katty'],利用循环语句和判断条件，分别输出列表中的字符串和数字。

In [68]:
L=[1,2,'','my',3,'name','is',4,'katty']
str_list=[]
int_list=[]
for i in L:
    if type(i)==int:
        int_list.append(i)
    if type(i)==str:
        str_list.append(i)

In [69]:
str_list

['', 'my', 'name', 'is', 'katty']

In [71]:
int_list

[1, 2, 3, 4]

（2）利用循环语句输出1到50中5的倍数，将其存放到一个列表中。

In [73]:
for i in range(1,51):
    if i % 5 == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50

（3）定义一个判断字符串的长度是否大于10的函数。

In [74]:
def f(s):
    if len(s)>1:
        return True
    else:
        return False

In [75]:
f('sjjfiosjeiof')

True

In [76]:
f('')

False

（4）定义一个求解阶乘的函数。

In [79]:
def f(n):
    s=1
    for i in range(1,n+1):
        s=s*i
    return s

In [80]:
f(4)

24

In [91]:
def f(n):
    if n==0:
        return 1
    if type(n) != int or n<0:
        print("WRONG NUMBER !")
        return 0
    s=1
    for i in range(1,n+1):
        s=s*i
    return s

In [92]:
f(-1)

WRONG NUMBER !

0

（5）利用列表生成式，生成1-5的阶乘。

In [93]:
[f(i) for i in range(1,6)]

[1, 2, 6, 24, 120]

（6）利用函数和列表生成式，标记一个列表，奇数标记为1，偶数标记为2，并且统计一下奇数和偶数的数量。
     例如：[1,4,2,4,2,9,5]，得到[1,2,2,2,2,1,1]

In [94]:
def f(n):
    if type(n)!=int:
        print('wrong number')
        return 0
    if n%2==0:
        return 2
    else:
        return 1

In [96]:
l=[f(i) for i in [1,4,2,4,2,9,5]]
l

[1, 2, 2, 2, 2, 1, 1]

In [97]:
sum(l)-len(l)

4