# 第二次课作业

（1）创建一个1到10的数组，然后逆序输出。

In [2]:
import numpy as np
a=np.array([1,2,3,4,5,6,7,8,9,10])
a[::-1]

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [6]:
a=np.arange(1,11)
a[::-1]

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

（2）创建一个长度为20的全1数组，然后变成一个4×5的二维矩阵并转置。

In [9]:
a=np.ones(20,dtype='int')
a

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [8]:
a.shape

(20,)

In [10]:
b=a.reshape(4,5)
b

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [11]:
b.T

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [12]:
a

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

（3）创建一个3x3x3的随机数组。
(提示: np.random.random)

In [14]:
np.random.random((3,3,3))

array([[[0.67004152, 0.07229756, 0.30362233],
        [0.4592462 , 0.8261474 , 0.64483909],
        [0.55157163, 0.67725498, 0.54786696]],

       [[0.70462125, 0.58990947, 0.25285501],
        [0.25479199, 0.04352985, 0.46316668],
        [0.4636434 , 0.52195057, 0.07619265]],

       [[0.77494352, 0.94521439, 0.67382465],
        [0.41513243, 0.39715696, 0.76239643],
        [0.33749835, 0.51859367, 0.91040315]]])

（4）从1到10中随机选取10个数，构成一个长度为10的数组，并将其排序。获取其最大值最小值，求和，求方差。

In [21]:
a=np.random.randint(1,11,10)
a

array([10,  9,  8,  3,  2,  8,  9,  7,  8,  7])

In [22]:
a.sort()
a

array([ 2,  3,  7,  7,  8,  8,  8,  9,  9, 10])

In [23]:
a

array([ 2,  3,  7,  7,  8,  8,  8,  9,  9, 10])

In [24]:
a.max()

10

In [25]:
a.min()

2

In [26]:
a.sum()

71

In [27]:
a.var()

6.09

（5）从1到10中随机选取10个数，构成一个长度为10的数组，选出其中的奇数。

In [3]:
a=np.random.randint(1,11,10)
a

array([ 5,  6,  2,  8,  8,  8, 10,  5,  6,  5])

In [4]:
np.where(a%2==1)

(array([0, 7, 9], dtype=int64),)

In [5]:
a[np.where(a%2==1)]

array([5, 5, 5])

In [6]:
a[a%2==1]

array([5, 5, 5])

In [7]:
a%2==1

array([ True, False, False, False, False, False, False,  True, False,
        True])

（6）生成0到100，差为5的一个等差数列，然后将数据类型转化为整数。

In [9]:
a=np.linspace(0,100,21)
a

array([  0.,   5.,  10.,  15.,  20.,  25.,  30.,  35.,  40.,  45.,  50.,
        55.,  60.,  65.,  70.,  75.,  80.,  85.,  90.,  95., 100.])

In [10]:
type(a)

numpy.ndarray

In [11]:
a.astype('int32')

array([  0,   5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,
        65,  70,  75,  80,  85,  90,  95, 100])

（7）从1到10中随机选取10个数，大于3和小于8的取负数。

In [12]:
a=np.random.randint(1,11,10)
a

array([ 6,  5, 10,  9,  7,  9, 10,  8,  4, 10])

In [13]:
a[(a>3)&(a<8)] *= -1
a

array([-6, -5, 10,  9, -7,  9, 10,  8, -4, 10])

In [14]:
(a>3)&(a<8)

array([False, False, False, False, False, False, False, False, False,
       False])

（8）在数组[1, 2, 3, 4, 5]中相邻两个数字中间插入1个0。

In [15]:
a=[1,2,3,4,5]
b=np.zeros(9,dtype='int')
b[::2]=a
b

array([1, 0, 2, 0, 3, 0, 4, 0, 5])

In [17]:
b=np.zeros(9,dtype='int')
b

array([0, 0, 0, 0, 0, 0, 0, 0, 0])

（9）新建一个5乘5的随机二位数组，交换其中两行，比如交换第一、二行。

In [19]:
a=np.random.randint(1,10,(5,5))
a

array([[5, 4, 3, 3, 6],
       [8, 3, 6, 3, 1],
       [4, 9, 5, 3, 9],
       [9, 3, 2, 7, 9],
       [7, 1, 5, 9, 1]])

In [20]:
a[0]

array([5, 4, 3, 3, 6])

In [22]:
a[0:,1]

array([4, 3, 9, 3, 1])

In [23]:
a=a[[1,0,2,3,4]]

In [24]:
a

array([[8, 3, 6, 3, 1],
       [5, 4, 3, 3, 6],
       [4, 9, 5, 3, 9],
       [9, 3, 2, 7, 9],
       [7, 1, 5, 9, 1]])

（10）把一个10\*2的随机生成的笛卡尔坐标转换成极坐标。

In [ ]:
a=np.random.randint(1,10,(10,2))
x=a[:,0]
y=a[:,1]

In [25]:
a=np.random.randint(1,10,(10,2))
a

array([[9, 1],
       [7, 6],
       [7, 2],
       [7, 1],
       [5, 4],
       [6, 2],
       [1, 3],
       [7, 3],
       [1, 9],
       [4, 2]])

In [26]:
x=a[:,0]
y=a[:,1]

In [27]:
r=np.sqrt(x**2+y**2)
r

array([9.05538514, 9.21954446, 7.28010989, 7.07106781, 6.40312424,
       6.32455532, 3.16227766, 7.61577311, 9.05538514, 4.47213595])

In [28]:
R=np.arctan(y/x)
R

array([0.11065722, 0.70862627, 0.27829966, 0.14189705, 0.67474094,
       0.32175055, 1.24904577, 0.40489179, 1.46013911, 0.46364761])

（11）创建一个长度为10并且除了第五个值为1其余的值为2的向量。

In [29]:
a=np.ones(10,dtype='int')*2
a[4]=1
a

array([2, 2, 2, 2, 1, 2, 2, 2, 2, 2])

（12）创建一个长度为10的随机向量，并求其累计和。

In [30]:
np.random.randint(1,10,10).cumsum()

array([ 4, 11, 19, 27, 29, 33, 42, 43, 48, 55], dtype=int32)

In [31]:
a=np.random.randint(1,10,10)
a

array([9, 7, 2, 6, 2, 5, 1, 5, 3, 6])

In [33]:
a.cumsum()

array([ 9, 16, 18, 24, 26, 31, 32, 37, 40, 46], dtype=int32)

（13）将数组中的所有奇数替换成-1。

In [38]:
a=np.random.randint(1,10,10)
a

array([3, 2, 4, 4, 6, 8, 3, 3, 6, 8])

In [39]:
a[a%2==1]

array([3, 3, 3])

In [40]:
a[a%2==1]=-1

In [41]:
a

array([-1,  2,  4,  4,  6,  8, -1, -1,  6,  8])

（14）构造两个4乘3的二维数组，按照3种方法进行连接。

In [42]:
a=np.random.randint(1,10,(4,3))
b=np.random.randint(1,10,(4,3))
a

array([[7, 4, 6],
       [2, 2, 4],
       [6, 6, 3],
       [5, 1, 5]])

In [43]:
b

array([[3, 7, 8],
       [8, 2, 6],
       [3, 6, 4],
       [5, 7, 8]])

In [45]:
np.vstack((a,b))

array([[7, 4, 6],
       [2, 2, 4],
       [6, 6, 3],
       [5, 1, 5],
       [3, 7, 8],
       [8, 2, 6],
       [3, 6, 4],
       [5, 7, 8]])

In [46]:
np.hstack((a,b))

array([[7, 4, 6, 3, 7, 8],
       [2, 2, 4, 8, 2, 6],
       [6, 6, 3, 3, 6, 4],
       [5, 1, 5, 5, 7, 8]])

In [47]:
np.dstack((a,b))

array([[[7, 3],
        [4, 7],
        [6, 8]],

       [[2, 8],
        [2, 2],
        [4, 6]],

       [[6, 3],
        [6, 6],
        [3, 4]],

       [[5, 5],
        [1, 7],
        [5, 8]]])

（15）获取数组 a 和 b 中的共同项（索引位置相同，值也相同）。
a = np.array([1,2,3,2,3,4,3,4,5,6])，b = np.array([7,2,10,2,7,4,9,4,9,8])

In [48]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
c=a-b

In [51]:
c

array([-6,  0, -7,  0, -4,  0, -6,  0, -4, -2])

In [49]:
np.where(c==0)

(array([1, 3, 5, 7], dtype=int64),)

In [50]:
a[c==0]

array([2, 2, 4, 4])

（16）从数组 a 中提取 5 和 10 之间的所有项。a=np.array([7,2,10,2,7,4,9,4,9,8])

In [52]:
a=np.array([7,2,10,2,7,4,9,4,9,8])
a[(a>5)&(a<10)]

array([7, 7, 9, 9, 8])